<center>
    <p>hi</p>
    <form method="POST">
        <label>Please input the relevant information below: </label>
        <p>Minimum Experience Required: <input type = "text" name = "min_exp" /></p>
        <p>Job Title: 
            <select name=job_title method='GET' action="/">
                {% for job in job_title %}
                <option value= "{{job}}" SELECTED>{{job}}</option>
                {% endfor %}
            </select>
        </p>
        <p>Employment Type: 
            <select name=employment_type method='GET' action="/">
                {% for emp in employment_type %}
                <option value= "{{emp}}" SELECTED>{{emp}}</option>
                {% endfor %}
            </select>
        </p>  

        <input type="submit">
    </form>
</center>